<!DOCTYPE html>
<html>
    {% block head %}
      <head>
          <title>{% block title %}YOU FORGOT TO OVERWRITE THE TITLE BLOCK{% endblock %}</title>
          {% block css %}
              <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
              <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css" />
          {% endblock %}
          
          {% block js %}
              <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.tools.min.js"></script>
              <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.11.custom.min.js"></script>
          {% endblock %}
      </head>
    {% endblock %}
    {% block body %}
      <body>
          <section id="container">
            <header>
                <h1><a href="{% url project_list %}">Issues</a></h1>
                <span>{{ user }}</span>
            </header>
            {% block content %}{% endblock %}
            <div class='clear'></div>
          </section>
      </body>
    {% endblock %}
</html>
