{% load gravatar %}
<!DOCTYPE html>
<html>
    {% block head %}
      <head>
          <title>{% block title %}YOU FORGOT TO OVERWRITE THE TITLE BLOCK!{% endblock %}</title>
          {% block css %}
              <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
              <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css" />
          {% endblock %}
          
          {% block js %}
              <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.tools.min.js"></script>
              <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.11.custom.min.js"></script>
              <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
          {% endblock %}
      </head>
    {% endblock %}
    {% block body %}
      <body>
        <!-- The wonderful background texture can be obtained from: http://subtlepatterns.com/navy/ -->
          <section id="container">
            <header>
				<span class = "right">
                    Logged in as: 
                    {% if user.pk %}
                    <a href="{% url user_profile_view user_id=user.pk %}">{{ user.get_full_name }}</a>
                    <img src= "{{ user.email|gravatar }}" class = "gravatar_medium">
                    {% else %}
                    {{ user }}
                    <img src= "{{ nothing|gravatar }}" class = "gravatar_medium">
                    {% endif %}
                </span>
                <h1><a href="{% url project_list %}">Issues</a></h1>

            </header>

            {% block content %}{% endblock %}
            <div class='clear'></div>
          </section>
      </body>
    {% endblock %}
</html>
