

<div class="hidden clear details_drop" id="issue-details-{{ issue.pk }}"> 
    <p class ="left issue_status">Created by: <span class="emphasis">{{ issue.creator }}</span></p> 
    {% if issue.milestone %}
        <p class ="left issue_status">Milestone: <span class="emphasis">{{ issue.milestone }}</span></p>
    {% endif %}
    {% if issue.days_estimate %}
        <p class ="left issue_status">Days Estimate: <span class="emphasis">{{ issue.days_estimate }}</span></p>
    {% endif %}

    {% if issue.status != 'DL' and issue.status != 'CP' and issue.status != 'NR' %}
        <button class ="right issue-button issue_edit" href="">Edit</button>    
    {% endif %}

    {% if issue.status != 'NR' %}
        <button id="{{ issue.pk }}-work-on" class="right issue-button issue_work_on">Work On</button>    
        <button id="close-{{ issue.pk }}" class="right issue-button issue_complete">Complete</button>   
        <button id="add-commit-{{ issue.pk }}" class="right issue-button issue_add_commit">Add Commit</button>                  
    {% else %}
        <button id="{{ issue.pk }}-approve" class="right issue-button issue_approve">Approve</button>
        <button id="{{ issue.pk }}-reject" class="right issue-button issue_reject">Reject</button>  
    {% endif %}
    <button id="add-note-{{ issue.pk }}" class="right issue-button issue_add_note">Add Note</button>                  

    {% if issue.description or issue.note_set.all or issue.commit_set.all %}
    <div class ="clear issue_description">
        {% if issue.description %}
            <div>
                <span class="field-header">Description</span><br />
                {{ issue.description|linebreaksbr }}
            </div>
        {% endif %}
        {% if issue.note_set.all %}
            <div>
                <span class="field-header">Notes</span><br />
            </div>
            {% for note in issue.note_set.all %}
                <div>{{ note.creator.get_full_name }} on {{ note.created|date:"DATE_FORMAT" }} </br>&emsp; {{ note.label|linebreaksbr }}</div>
            {% endfor %}
        {% endif %}

        
        {% if issue.commit_set.all %}
            <div>
                <span class="field-header">Commits</span><br />
                <ul>
                {% for commit in issue.commit_set.all %}
                    {% if issue.project.scm_owner and issue.project.scm_repo %}
                        {% if issue.project.scm_type = 'GH' %}
                         <li><a href="https://github.com/{{ issue.project.scm_owner }}/{{ issue.project.scm_repo }}/commit/{{ commit }}" target="_blank">{{ commit }}</a> &emsp; on {{ commit.created }}</li>
                        {% elif issue.project.scm_type = 'BB' %}
                         <li><a href="https://bitbucket.org/{{ issue.project.scm_owner }}/{{ issue.project.scm_repo }}/commits/{{ commit }}" target="_blank">{{ commit }}</a> &emsp; on {{ commit.created }}</li>
                        {% endif %}
                    {% else %}
                        <li>{{ commit }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    {% endif %}

</div> 




