

<div class="hidden clear details_drop" id="issue-details-{{ issue.pk }}"> 
    <p class ="left issue_status">Created by: <span class="emphasis">{{ issue.creator }}</span></p> 
    {% if issue.milestone %}
        <p class ="left issue_status">Milestone: <span class="emphasis">{{ issue.milestone }}</span></p>
    {% endif %}
    {% if issue.days_estimate %}
        <p class ="left issue_status">Days Estimate: <span class="emphasis">{{ issue.days_estimate }}</span></p>
    {% endif %}
    <label class ="right issue-button issue_edit" href="url">Edit</label>    
    <label id="{{ issue.pk }}-work-on" class="right issue-button issue_work_on">Work On</label>    
    <label id="close-{{ issue.pk }}" class="right issue-button issue_complete">Complete</label>    

    {% if issue.description or issue.notes%}
    <p class ="clear issue_description">
        {% if issue.description %}
            <span class="field-header">Description</span><br />
            {{ issue.description|linebreaksbr }}
        {% endif %}
        {% if issue.notes %}
            {% if issue.description %}
                <br />
            {% endif %}
            <span class="field-header">Notes</span><br />
            {{ issue.notes|linebreaksbr }}
        {% endif %}
    </p>
    {% endif %}

</div> 




