
    <div class="clear hidden edit_drop" id="issue_input">
        {% with issue.form as form %}
            <form class = "edit_form" id="issue-{{ issue.pk }}-edit" action="{{ issue.get_absolute_url }}" method="post">
                {% csrf_token %}
                <div class = "left new_issue_left">
                    <p >{{ form.title.label_tag }}:{{ form.title }}</p>        
                    <p>{{ form.description.label_tag }}:{{ form.description }}</p>
                </div>
                <div class = "right new_issue_right">
                    <p>{{ form.assigned_to.label_tag }}:{{ form.assigned_to }}</p>
                    <p>{{ form.milestone.label_tag }}:
                    <input type="text" name="{{ issue.id }}-milestone" id="id_{{ issue.id }}-milestone" class="milestone-datepicker" 
                    {% if issue.milestone %}
                        value={{ issue.milestone }}
                    {% endif %}
                    /></p> 
                    <p>{{ form.days_estimate.label_tag }}:{{ form.days_estimate }}</p> 
                    <label class = "left">{{ form.tags.label_tag }}:</label>
                   <div class = "tag_editor clear" data-count="{{ tags.count }}">
                        {% for tag in tags %}
                            {% if tag in issue.tags.all %}
                                {% include 'issues/tag_line.html' with checked='True' %}
                            {% else %}
                                {% include 'issues/tag_line.html' %}
                            {% endif %}
                        {% endfor %}
                        <div class = "clear add_tag_area" style = "display: inline-block">
                            <input type="text" class="new_tag_input"/><button type="button" class = "new_tag right">Add</button>
                        </div>
                    </div>
                </div>
                <div class = "clear" >
                    <input type="submit" value="Save"/>
                    <input class="edit-issue-cancel-button" type="Button" value="Cancel"/>
                    <input id="{{ issue.pk }}-delete" class="issue-delete" type="Button" value="Delete"/>
                </div>
            </form>
        {% endwith %}
    </div>






