{% extends "issues/base.html" %}

{% block title %}
    {{ block.super }}
    Projects
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL}}js/urlify.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('input[id="id_name"]').keyup( function() {
            var e = document.getElementById("id_slug");
            if (!e._changed) { 
                e.value = URLify(document.getElementById("id_name").value, 50); 
            }
        });
    });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    
    <h1>Create New Project</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ from.non_field_errors }}
        {% for field in form %}
            <div class="fieldWrapper" style="margin-bottom: 5px;">
                <div style="float:left; width:50px; margin-top:5px;">{{ field.label_tag }}:</div> {{ field }} <div class="error" style="color:red">{{ field.errors }}</div>
            </div>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
