{% extends "issues/base.html" %}
{% load gravatar %}

{% block title %}Issues for {{ object }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project_detail.css" />

    <style>
    {% for tagcss in tags %}
        .tag_{{ tagcss.pk }}
        { background-color: #{{ tagcss.color}} ; }        
    {% endfor %}
    </style>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/project_detail.js"></script>

    <script type="text/javascript">
        var new_tag_line =  $("{% filter escapejs %}{% spaceless %}{% include 'issues/tag_line.html' %}{% endspaceless %}{% endfilter %}");
        var project_slug = "{{ project.slug }}";
        var current_user = "{{ user.pk }}";
        UPDATE_ISSUE_URL = '{% url project_detail project.slug %}';
        CREATE_NOTE_URL = '{% url note_create_view project.slug %}';
        CREATE_COMMIT_URL = '{% url commit_create_view project.slug %}';
        
        var milestone_dates = [
        {% for milestone in project.future_milestones %}
            "{{ milestone }}",
        {% endfor %}
        ];
    </script>

{% endblock %}

{% block content %}
    {{ block.super }}
    {% csrf_token %}
    
    <section id="project-detail">
        {% if project.scm_owner and project.scm_repo %}
            {% if project.scm_type = 'GH' %}
                <a class="right" href="https://github.com/{{ project.scm_owner }}/{{ project.scm_repo }}" target="_blank">View on GitHub</a>
            {% elif project.scm_type = 'BB' %}
                <a class="right" href="https://bitbucket.org/{{ project.scm_owner }}/{{ project.scm_repo }}" target="_blank">View on BitBucket</a>
            {% endif %}
        {% endif %}
        <h3>{{ object }}</h3>

        <button type = "button" id="new-issue-button"> Add Issue </button>


        <div class="right">
            <label>Filter:</label>
            <select id="issue_filter" data-pj="{{ project.slug }}">
              <option value="ALL" {% if filter = 'OPEN' %} selected {% endif %}>Open</option>
              <option value="IP" {% if filter = 'IP' %} selected {% endif %}>In Progress</option>
              <option value="AS" {% if filter = 'AS' %} selected {% endif %}>Assigned</option>
              <option value="UA" {% if filter = 'UA' %} selected {% endif %}>Unassigned</option>
              <option value="CP" {% if filter = 'CP' %} selected {% endif %}>Completed</option>
              <option value="DL" {% if filter = 'DL' %} selected {% endif %}>Deleted</option>
            </select>
        </div>

        
        {% include 'issues/issue_new.html' %}
        {% include 'issues/color_selector.html' %}
        <div class="needs-review-issues">
            <ul class="issue-list">

                {% for issue in project.needs_review_issues %}
                    {% if issue.assigned_to != user %}
                     <li id="issue-nr-{{ issue.pk }}" class="issue needs-review">
                        <span class="assigned-to">
                            {% if issue.assigned_to %}
                                {% if issue.assigned_to.get_full_name %}
                                    <a href="{% url user_profile_view user_id=issue.assigned_to.pk %}">{{ issue.assigned_to.get_full_name }}</a>
                                {% else %}
                                    <a href="{% url user_profile_view user_id=issue.assigned_to.pk %}">{{ issue.assigned_to }}</a>
                                {% endif %}
                              <img src= "{{ issue.assigned_to.email|gravatar }}" width=32 height=32>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </span>

                            <span class="issue-nr-title" title="{{ issue.description }}" rel="#issue-details-{{ issue.pk }}">{{ issue }}</span>
                          
                            <div class = "tag_list">
                              {% for tag in issue.tags.all %}
                                <div class = "tag tag_{{ tag.pk }}">{{ tag.label }}</div>
                              {% endfor %}
                            </div>

                                {% include 'issues/issue_view.html' %}
                          <div style = "clear: both;"></div>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
        <ul class="issue-list">
        {% for issue in issues %}
            <li id="issue-{{ issue.pk }}" 
            {% if issue.assigned_to %}
                {% if issue.assigned_to == user and issue.status = 'IP'%}
                    class="issue in-progress"
                {% else %}{% if issue.assigned_to == user and issue.status = 'AS' %}
                    class="issue assigned"
                {% else %}
                    class="issue unassigned"
                {% endif %} {% endif %}
            {% else %}
                class="issue unassigned"
            {% endif %}
            >
                {% if issue.milestone %}
                  <a class="milestone" href="{{ issue.milestone.get_chart_url }}">{{ issue.milestone.deadline.date }}</a>
                {% endif %}
                <span class="assigned-to">
                    {% if issue.assigned_to %}
                        <div style="position: relative; left:0; top:0">
                            {% if issue.assigned_to.get_full_name %}
                                <a href="{% url user_profile_view user_id=issue.assigned_to.pk %}">{{ issue.assigned_to.get_full_name }}</a>
                            {% else %}
                                <a href="{% url user_profile_view user_id=issue.assigned_to.pk %}">{{ issue.assigned_to }}</a>
                            {% endif %}
                            {% if issue.status == 'IP' %}
                                <img src="{{ STATIC_URL }}img/clock.gif" width=32 height=32 style="background: url({{ issue.assigned_to.email|gravatar }})"/> 
                            {% else %}
                                <img src= "{{ issue.assigned_to.email|gravatar }}" width=32 height=32 />
                            {% endif %}
                        </div>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </span>
                <img class="handle" src="{{ STATIC_URL }}img/handle.png" />

                <span class="issue-id" >{{ issue.pk }}</span>
                <span class="issue-title" title="{{ issue.description }}" rel="#issue-details-{{ issue.pk }}">{{ issue }}</span>

                <div class = "tag_list">
                  {% for tag in issue.tags.all %}
                    <div class = "tag tag_{{ tag.pk }}">{{ tag.label }}</div>
                  {% endfor %}
                </div>

                    {% include 'issues/issue_view.html' %}
                    {% include 'issues/issue_edit.html' %}
              <div style = "clear: both;"></div>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}
