{% extends "issues/base.html" %}
{% load gravatar %}

{% block title %}
    {{ block.super }}
    Issues for {{ object }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/project_detail.css" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/project_detail.js"></script>

    <script type="text/javascript">
    var new_tag_line =  $("{% filter escapejs %}{% spaceless %}{% include 'issues/tag_line.html' %}{% endspaceless %}{% endfilter %}")
    </script>

{% endblock %}

{% block content %}
    {{ block.super }}
    {% csrf_token %}

    <h1>{{ object }}</h1>
    <a href="#" id="new-issue-button"> new issue </a>
    
    {% include 'issues/issue_new.html' %}

    <ul class="issue-list">
    {% for issue in issues %}
        <li id="issue-{{ issue.pk }}" class="issue">
            <a id="close-{{ issue.pk }}"class="button close-button" href="#" >x</a>
            {% if issue.milestone %}
              <a class="milestone" href="{{ issue.milestone.get_chart_url }}">{{ issue.milestone.deadline.date }}</a>
            {% endif %}
            <span class="assigned-to">

                {% if issue.assigned_to %}
                    {% if issue.assigned_to.get_full_name %}
                        {{ issue.assigned_to.get_full_name }}
                    {% else %}
                        {{ issue.assigned_to }}
                    {% endif %}
                  <img src= "{{ issue.assigned_to.email|gravatar }}" width=32 height=32>
                {% else %}
                    &nbsp;
                {% endif %}
            </span>
            <img class="handle" src="{{ STATIC_URL }}img/handle.png" />

            <span class="issue-id" >{{ issue.pk }}</span>
            <span class="issue-title" title="{{ issue.description }}" rel="#issue-details-{{ issue.pk }}">{{ issue }}</span>

            <div class = "tag_list">
              {% for tag in issue.tags.all %}
                <div style="background-color:#{{ tag.color }}" class = "tag">{{ tag.label }}</div>
              {% endfor %}
            </div>

                {% include 'issues/issue_view.html' %}
                {% include 'issues/issue_edit.html' %}
          <div style = "clear: both;"></div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
