{% extends "issues/base.html" %}
{% load gravatar %}

{% block title %}Projects{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/project_list.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tab_lists.css" />
    
    <!-- we need to dry this piece of code out, it is also found in user_profile.html and project_detail.html. Ask Shane -->
    <style>
    {% for tagcss in tags %}
        .tag_{{ tagcss.pk }}
        { background-color: #{{ tagcss.color}} ; }        
    {% endfor %}
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL}}js/urlify.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/project_list.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>
        PROJECT_SORT_URL = '{% url project_sort %}';
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% csrf_token %}

    <section id="projects" class='left'>
        <h3 class="header">Projects</h3>
        <div id="tab-buttons" class="tab-buttons">
            <div id="projects-in-progress" class="project-tab tab in-progress active">In-Progress</div>
            <div id="projects-assigned" class="project-tab tab assigned">Assigned</div>
            <div id="projects-unassigned" class="project-tab tab unassigned">Unassigned</div>
            <div id="projects-needs-review" class="project-tab tab needs-review">Needs Review</div>
            <div id="projects-completed" class="project-tab tab completed">Completed</div>
            <div id="projects-deleted" class="project-tab tab deleted">Deleted</div>
            <div id="projects-projects" class="project-tab tab projects">Manage</div>
        </div>
        <div id="project-issues" class="content-border">
        {% for project in object_list %}
            {% if project.status == "AC" %}
                <div class="project">
                    <img class="collapse_issue node left" src="{{ STATIC_URL}}img/collapse.png" /><h4 class="left">{{ project.as_a }}</h4>
                    <div class="nojump collapse-issue-list clear">
                        {% for issue in project.in_progress_issues|slice:":10" %}
                            <div class="issue project-issue in-progress clear" title="{{ issue.description }}">
                                <span class="issue-id" >{{ issue.pk }}</span>
                                <span class="issue-title slide-title">{{ issue }}</span> 
                                <img src="{{ issue.assigned_to.email|gravatar }}" class="gravatar_small right">
                                <a class="right" href="{% url user_profile_view user_id=issue.assigned_to.pk %}">{{ issue.assigned_to.first_name }}</a>
                                <div class="details hidden">
                                    {% include 'issues/includes/tag_display.html' %}
                                    {% include 'issues/includes/issue_view.html' %}
                                </div>
                            </div>
                        {% endfor %}
                        {% for issue in project.assigned_issues|slice:":10" %}
                            <div class="issue project-issue assigned clear hidden" title="{{ issue.description }}">
                                <span class="issue-id" >{{ issue.pk }}</span>
                                <span class="issue-title slide-title">{{ issue }}</span> 
                                <img src="{{ issue.assigned_to.email|gravatar }}" class="gravatar_small right">
                                <a class="right" href="{% url user_profile_view user_id=issue.assigned_to.pk %}">{{ issue.assigned_to.first_name }}</a>
                                <div class="details hidden">
                                    {% include 'issues/includes/tag_display.html' %}
                                    {% include 'issues/includes/issue_view.html' %}
                                </div>
                            </div>
                        {% endfor %}
                        {% for issue in project.needs_review_issues %}
                            <div class="issue project-issue needs-review clear hidden" title="{{ issue.description }}">
                                <span class="issue-id" >{{ issue.pk }}</span>
                                <span class="issue-title slide-title">{{ issue }}</span>                                 
                                <img src="{{ issue.assigned_to.email|gravatar }}" class="gravatar_small right">
                                <a class="right" href="{% url user_profile_view user_id=issue.assigned_to.pk %}">{{ issue.assigned_to.first_name }}</a>
                                <div class="details hidden">
                                    {% include 'issues/includes/tag_display.html' %}
                                    {% include 'issues/includes/issue_view.html' %}
                                </div>
                            </div>
                        {% endfor %}
                        {% for issue in project.unassigned_issues|slice:":10" %}
                            <div class="issue project-issue unassigned hidden" title="{{ issue.description }}">
                                <span class="issue-id" >{{ issue.pk }}</span>
                                <span class="issue-title slide-title">{{ issue }}</span> 
                                <div class="details hidden">
                                    {% include 'issues/includes/tag_display.html' %}
                                    {% include 'issues/includes/issue_view.html' %}
                                </div>
                            </div>
                        {% endfor %}
                        {% for issue in project.recently_completed_issues|slice:":10" %}
                            <div class="issue project-issue completed clear hidden" title="{{ issue.description }}">
                                <span class="issue-id" >{{ issue.pk }}</span>
                                <span class="issue-title slide-title">{{ issue }}</span> 
                                {% if issue.assigned_to %}
                                <img src="{{ issue.assigned_to.email|gravatar }}" class="gravatar_small right">
                                <a class="right" href="{% url user_profile_view user_id=issue.assigned_to.pk %}">{{ issue.assigned_to.first_name }}</a>
                                {% endif %}                            
                                <div class="details hidden">
                                    {% include 'issues/includes/tag_display.html' %}
                                    {% include 'issues/includes/issue_view.html' %}
                                </div>
                            </div>
                        {% endfor %}                        
                        {% for issue in project.recently_deleted_issues|slice:":10" %}
                            <div class="issue project-issue deleted hidden" title="{{ issue.description }}">
                            <span class="issue-id" >{{ issue.pk }}</span>
                            <span class="issue-title slide-title">{{ issue }}</span> 
                            <div class="details hidden">
                                {% include 'issues/includes/tag_display.html' %}
                                {% include 'issues/includes/issue_view.html' %}
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if not forloop.last %}
                    <div class="hr clear"></div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <div id="project-sort" class="content-border hidden">
            {% include 'issues/project_new.html' %}
            <button type="button" class="right" id="new_project_button">New Project</button>
            <ul id="sortable-projects" class="sortable">
                {% for project in object_list %}
                    {% if project.status == "AC" %}
                        <li class="ui-state-default" id="{{ project.pk }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ project }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div id="other-projects">
                <h4>Other Projects</h4>
                {% for project in object_list %}
                    {% if project.status != "AC" %}
                        <div class="other-project">{{ project.as_a }}<div class="right">{{ project.get_status_display }}</div></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    
    <section id="users" class='right'>
        <h3>
            Users
        </h3>
        <div id="tab-buttons" class="tab-buttons">
            <div id="users-in-progress" class="user-tab tab in-progress active">In-Progress</div>
            <div id="users-assigned" class="user-tab tab assigned">Assigned</div>
            <div id="users-needs-review" class="user-tab tab needs-review" style="width: 90px;">Needs Review</div>
            <div id="users-completed" class="user-tab tab completed">Completed</div>
            <!-- <div id="users-reorder" class="user-tab tab reorder">Manage</div> -->
        </div>
        <div id="user-issues" class="content-border">
            {% for user in users %}
                <div class="user">
                    <img class="collapse_issue node left" src="{{ STATIC_URL}}img/collapse.png" />
                    <img src= "{{ user.email|gravatar }}" class="gravatar_small left">&nbsp;
                    <h4 class="left"><a href="{% url user_profile_view user_id=user.pk %}">{{ user.first_name }}</a></h4> 
                    <div class="user-issue-list collapse-issue-list clear">
                        {% for issue in user.inprogress_issues %}
                            <div class="issue user-issue in-progress clear">
                                <span class="issue-id" >{{ issue.pk }}</span>
                                {{ issue }}<div class="right"> {{ issue.project.as_a }}</div>
                            </div>
                        {% endfor %}
                        {% for issue in user.assigned_issues %}
                            <div class="issue user-issue assigned clear hidden">
                                <span class="issue-id" >{{ issue.pk }}</span>
                                {{ issue }}<div class="right"> {{ issue.project.as_a }}</div>
                            </div>
                        {% endfor %}
                        {% for issue in user.completed_issues|slice:":5" %}
                            <div class="issue user-issue completed clear hidden">
                                <span class="issue-id" >{{ issue.pk }}</span>
                                {{ issue }}<div class="right"> {{ issue.project.as_a }}</div>
                            </div>
                        {% endfor %}
                        {% for issue in user.needs_review_issues %}
                            <div class="issue user-issue needs-review clear hidden">
                                <span class="issue-id" >{{ issue.pk }}</span>
                                {{ issue }}<div class="right"> {{ issue.project.as_a }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if not forloop.last %}
                    <div class="hr"></div>
                {% endif %}
            {% endfor %}
        </div>
        <!--
        <div id="user-sort" class="content-border hidden">
            <span class="small right"><a href="">New User</a></span>
            <ul id="sortable-users" class="sortable">
                {% for user in users %}
                    <li class="ui-state-default" id="{{ user.pk }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ user.first_name }} {{ user.last_name }}</li>
                {% endfor %}
            </ul>
        </div>
        -->
    </section>   
{% endblock %}
