{% extends "issues/base.html" %}
{% load gravatar %}

{% block title %}
    {{ block.super }}
    Projects
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/project_list.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/project_list.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>
    $(document).ready(function() {

    });
    $(function() {
        $( 'div[id^="tabs"]' ).tabs({ collapsible: true });
    });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="wrapper">
        <div id="left">
            <div class="header">
                <div class="header-title">Projects</div>
                <div class="new"><a href="{% url project_new %}">New Project</a></div>
            </div>
            <div class="project-list">
            {% for project in object_list %}
                <div id='{{ project|slugify }}' class="project">
                    <div id="tabs-{{ project.pk }}" class="tabs">
                        <ul>
                            <div id="header-in-tabs">{{ project.as_a }}</a><span style="font-size: 10px">({{ project.issue_set.all.count }} issues)</span></div>
                            <li><a href="#tabs-{{ project.pk }}-inprogress" class="tab">In Progress</a></li>                            
                            <li><a href="#tabs-{{ project.pk }}-assigned" class="tab">Assigned</a></li>
                            <li><a href="#tabs-{{ project.pk }}-unassigned" class="tab">Unassigned</a></li>
                            <li><a href="#tabs-{{ project.pk }}-completed" class="tab">Completed</a></li>
                            <li><a href="#tabs-{{ project.pk }}-deleted" class="tab">Deleted</a></li>
                        </ul>
                        <div id="tabs-{{ project.pk }}-assigned" class="tab-content">
                            {% for issue in project.assigned_issues %}
                                <div class="issue">
                                    <div class="issue-left">{{ issue }}</div>
                                    <div class="issue-right">{{ issue.assigned_to.first_name }}<img src= "{{ issue.assigned_to.email|gravatar }}" width=16 height=16></div>
                                </div>
                            {% endfor %}
                        </div>
                        <div id="tabs-{{ project.pk }}-inprogress" class="tab-content">
                            {% for issue in project.in_progress_issues %}
                                <div class="issue">
                                    <div class="issue-left">{{ issue }}</div>
                                    <div class="issue-right">{{ issue.assigned_to.first_name }}<img src= "{{ issue.assigned_to.email|gravatar }}" width=16 height=16></div>  
                                </div>
                            {% endfor %}
                        </div>
                        <div id="tabs-{{ project.pk }}-unassigned" class="tab-content">
                            {% for issue in project.unassigned_issues %}
                                <div class="issue">
                                    <div class="issue-left">{{ issue }}</div>
                                </div>
                            {% endfor %}
                        </div>
                        <div id="tabs-{{ project.pk }}-completed" class="tab-content">
                            {% for issue in project.recently_closed_issues %}
                                <div class="issue">
                                    <div class="issue-left">{{ issue }}</div>
                                    <div class="issue-right">{{ issue.assigned_to.first_name }}<img src= "{{ issue.assigned_to.email|gravatar }}" width=16 height=16></div>
                                </div>
                            {% endfor %}
                            <a href="{% url project_detail_closed slug=project.slug %}">All Completed Issues</a>
                        </div>
                        <div id="tabs-{{ project.pk }}-deleted" class="tab-content">
                            {% for issue in project.recently_deleted_issues %}
                                <div class="issue">
                                    <div class="issue-left">{{ issue }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        
        <div id="right">
            <div class="header">
                <div class="header-title">User</div>
                <div class="new"><a href="">New User</a></div>
            </div>
            {% for user in users %}
            <div class="project">
                <div id="tabs-{{ user.pk }}" class="tabs">
                    <ul>
                        <li id="developer-in-tabs">{{ user.first_name }}</li>
                        <li><a href="#tabs-{{ user.pk }}-inprogress" class="tab">In Progress</a></li>
                        <li><a href="#tabs-{{ user.pk }}-assigned" class="tab">Assigned</a></li>
                        <li><a href="#tabs-{{ user.pk }}-completed" class="tab">Completed</a></li>
                    </ul>
                    <div id="tabs-{{ user.pk }}-inprogress" class="tab-content">
                        {% for issue in user.inprogress_issues %}
                        <div class="issue">
                            <div class="issue-left">
                                {{ issue }}
                            </div>
                            <div class="issue-right">
                                {{ issue.project.as_a }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="tabs-{{ user.pk }}-assigned" class="tab-content">
                        {% for issue in user.assigned_issues %}
                        <div class="issue">
                            <div class="issue-left">
                                {{ issue }}
                            </div>
                            <div class="issue-right">
                                {{ issue.project.as_a }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="tabs-{{ user.pk }}-completed" class="tab-content">
                        {% for issue in user.completed_issues %}
                        <div class="issue">
                            <div class="issue-left">
                                {{ issue }}
                            </div>
                            <div class="issue-right">
                                {{ issue.project.as_a }}</a>
                            </div>
                        </div>
                        {% endfor %}                         
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

{% endblock %}
