{% extends "issues/base.html" %}
{% load gravatar %}
{% load assigned_css_class %}

{% block title %}User Profile{% endblock %}

{% block css %}
    {{ block.super }}
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tab_lists.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/issues.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/user_profile.css" />
    
    <!-- we need to dry this piece of code out, it is also found in project_list.html and project_detail.html. Ask Shane -->
    <style>
    {% for tagcss in tags %}
        .tag_{{ tagcss.pk }}
        { background-color: #{{ tagcss.color}} ; }        
    {% endfor %}
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/issues.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/user_profile.js"></script>
    
    
    
    <script>
        var issue_sort_url = "{% url user_sort_issue_view user_data.pk %}";
        var current_user = "{{ user.pk }}";
        var current_user_name = "{{ user.get_full_name }}";
        
        var milestone_dates  = new Object;
        {% regroup user_data.all_milestones by project.pk as project_list %}
        {% for project in project_list %}
          milestone_dates[{{ project.grouper }}] = [
          {% for milestone in project.list %}
            "{{ milestone }}"{% if not forloop.last %},{% endif %}
          {% endfor %}
          ];
        {% endfor %}
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}

    <section id="users_stats" class="right">
            <div class="header">
                
                <div class="header-title"><img class = "gravatar_medium" src="{{ user_data.email|gravatar }}"/> {{ user_data.first_name }}</div>            
            </div>

            <p><label class = "statistic">In Progress: </label><label>{{ user_data.inprogress_issues.count }}</label></p>
            <p><label class = "statistic">Assigned:  </label><label>{{ user_data.assigned_issues.count }}</label></p>
            <p><label class = "statistic">Completed: </label><label>{{ user_data.completed_issues.count }}</label></p>
            <p><label class = "statistic">Last Project: </label><label>{{ user_data.last_completed.project.as_a }}</label></p>
            <p><label class = "statistic">Last Completed: </label><p class = "small_text_wrap"><span class="issue-id">{{ user_data.last_completed.pk }}</span> {{ user_data.last_completed|truncatechars:256 }}</p></p>
            <label></label>
    </section>

    <section id="users_profile" class="left">
        <div id="tab-buttons" class="tab-buttons">
            <div id="users-in-progress" class="user-tab tab in-progress active">In-Progress</div>
            <div id="users-assigned" class="user-tab tab assigned">Assigned</div>
            <div id="users-needs-review" class="user-tab tab needs-review" style="width: 90px;">Needs Review</div>
            <div id="users-completed" class="user-tab tab completed">Completed</div>
            <!-- <div id="users-reorder" class="user-tab tab reorder">Manage</div> -->
        </div>
        <div id="user-issues" class="content-border hidden">
            <div class="user">
                <div id="user-issue-list">
                    {% for issue in user_data.completed_issues %}
                        <div class="issue user-issue display-completed clear hidden">
                            <span class="issue-id" >{{ issue.pk }}</span>
                            <span class="issue-title slide-title">{{ issue }}</span> 
                            <div class="right"> {{ issue.project.as_a }}</div>
                            <div class="details hidden">
                                {% include 'issues/includes/tag_display.html' %}
                                {% include 'issues/includes/issue_view.html' %}
                            </div>
                        </div>
                    {% endfor %}
                    {% for issue in user_data.needs_review_issues %}
                        <div class="issue user-issue display-needs-review clear hidden">
                            <span class="issue-id" >{{ issue.pk }}</span>
                            <span class="issue-title slide-title">{{ issue }}</span> 
                            <div class="right"> {{ issue.project.as_a }}</div>
                            <div class="details hidden">
                                {% include 'issues/includes/tag_display.html' %}
                                {% include 'issues/includes/issue_view.html' %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="sortable-assigned-issues" class="content-border">
        <ul class="issue-list" id="issue-assigned-to-list">
            {% for issue in user_data.assigned_issues %}
              <li id="issue-{{ issue.pk }}" class="issue display-assigned hidden interactive-issue {% assigned_css_class issue.assigned_to.pk user.pk issue.status %}" >
                  {% include 'issues/includes/issue_detail.html' %}
                  {% include 'issues/includes/issue_view.html' %}
                  {% include 'issues/includes/issue_edit.html' %}
                  <div class="clear"></div>
              </li>
            {% endfor %}
            {% for issue in user_data.inprogress_issues %}
              <li id="issue-{{ issue.pk }}" class="issue display-in-progress interactive-issue {% assigned_css_class issue.assigned_to.pk user.pk issue.status %}" >
                  {% include 'issues/includes/issue_detail.html' %}
                  {% include 'issues/includes/issue_view.html' %}
                  {% include 'issues/includes/issue_edit.html' %}
                  <div class="clear"></div>
              </li>
            {% endfor %}
        </ul>
        </div>

    </section>
    
{% endblock %}
