{% extends "issues/base.html" %}
{% load gravatar %}

{% block title %}User Profile{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/user_profile.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tab_lists.css" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/user_profile.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script>
        var issue_sort_url = "{% url user_sort_issue_view user_data.pk %}";
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}

    <section id="users_stats" class="right">
            <div class="header">
                
                <div class="header-title"><img class = "gravatar_medium" src="{{ user_data.email|gravatar }}"/> {{ user_data.first_name }}</div>            
            </div>

            <p><label class = "statistic">In Progress: </label><label>{{ user_data.inprogress_issues.count }}</label></p>
            <p><label class = "statistic">Assigned:  </label><label>{{ user_data.assigned_issues.count }}</label></p>
            <p><label class = "statistic">Completed: </label><label>{{ user_data.completed_issues.count }}</label></p>
            <p><label class = "statistic">Most Active: </label> ???? </p>
            <p><label class = "statistic">Last Project: </label><label>{{ user_data.last_completed.project.as_a }}</label></p>
            <p><label class = "statistic">Last Completed: </label><p class = "small_text_wrap">{{ user_data.last_completed|truncatechars:256 }}</p></p>
            <label></label>
    </section>

    <section id="users_profile" class="left">
        <div id="tab-buttons" class="tab-buttons">
            <div id="users-in-progress" class="user-tab tab in-progress active">In-Progress</div>
            <div id="users-assigned" class="user-tab tab assigned">Assigned</div>
            <div id="users-needs-review" class="user-tab tab needs-review" style="width: 90px;">Needs Review</div>
            <div id="users-completed" class="user-tab tab completed">Completed</div>
            <!-- <div id="users-reorder" class="user-tab tab reorder">Manage</div> -->
        </div>
        <div id="user-issues" class="content-border">
            <div class="user">
                <div id="user-issue-list">
                    {% for issue in user_data.inprogress_issues %}
                        <div class="issue user-issue in-progress clear" title="{{ issue.description }}">
                            {{ issue }}<div class="right"> {{ issue.project.as_a }}</div>
                        </div>
                    {% endfor %}
                    {% for issue in user_data.completed_issues %}
                        <div class="issue user-issue completed clear hidden" title="{{ issue.description }}">
                            {{ issue }}<div class="right"> {{ issue.project.as_a }}</div>
                        </div>
                    {% endfor %}
                    {% for issue in user_data.needs_review_issues %}
                        <div class="issue user-issue needs-review clear hidden" title="{{ issue.description }}">
                            {{ issue }}<div class="right"> {{ issue.project.as_a }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="sortable-assigned-issues" class="hidden content-border">
            <ul id="sortable-issues" class="sortable">
                {% for issue in user_data.assigned_issues %}
                        <li class="ui-state-default" title="{{ issue.description }}" id="{{ issue.pk }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ issue }}<div class="right"> {{ issue.project.as_a }}</div></li>
                {% endfor %}
            </ul>
        </div>

    </section>
    
{% endblock %}
