{% load assigned_css_class %}
<div class="hidden clear details_drop" id="issue-details-{{ issue.pk }}" data-note-url="{% url note_create_view issue.pk %}" data-commit-url="{% url commit_create_view issue.pk %}" > 

<div class="buttons right">
    <button id="add-commit-{{ issue.pk }}" class="issue-button issue_add_commit">Add Commit</button>  
    <button id="add-note-{{ issue.pk }}" class="issue-button issue_add_note">Add Note</button> 

    {% if issue.status != 'NR' %}
        <button id="{{ issue.pk }}-work-on" class="issue-button issue_work_on">Work On</button>    
        <button id="close-{{ issue.pk }}" class="issue-button issue_complete">Complete</button>                   
    {% else %}
        <button id="{{ issue.pk }}-approve" class="issue-button issue_approve">Approve</button>
        <button id="{{ issue.pk }}-reject" class="issue-button issue_reject">Reject</button>  
    {% endif %}

    
    {% if issue.status != 'DL' and issue.status != 'CP' and issue.status != 'NR' %}
        <button class ="issue-button issue_edit" href="">Edit</button>    
    {% endif %}
</div>

<div class="created-info">
    <p class ="left issue_status issue_creator">Created by: <span class="emphasis">{{ issue.creator.get_full_name }}</span></p> 
    {% if issue.milestone %}
        <p class ="left issue_status issue_dates">Milestone: <span class="emphasis">{{ issue.milestone }}</span></p>
    {% endif %}
    {% if issue.days_estimate %}
        <p class ="left issue_status issue_dates">Days Estimate: <span class="emphasis">{{ issue.days_estimate }}</span></p>
    {% endif %}
</div>

{% with commits=issue.commit_set.all notes=issue.get_notes %}

    {% if issue.description or notes or commits %}
        <div class ="clear issue_description">
        {% if issue.description %}
            <div>
                <span class="field-header">Description</span><br />
                {{ issue.description|linebreaksbr }}
            </div>
        {% endif %}

        <div id="note-list-{{ issue.pk }}" class="note-list">
            <span id="note-header-{{ issue.pk }}" class="field-header {% if not notes %} hidden {% endif %}">Notes</span><br />
            {% for note in notes %}
                <div class="note">{{ note.creator.get_full_name }} on {{ note.created|date:"SHORT_DATETIME_FORMAT" }} </br>&emsp; {{ note|linebreaksbr }}</div>
            {% endfor %}
        </div>
    
        <div>
        <span id="commit-header-{{ issue.pk }}" class="field-header {% if not commits %} hidden {% endif %}">Commits</span><br />
        <ul id = "commit-list-{{ issue.pk }}">
            {% for commit in commits %}
                {% if commit.get_url %}
                 <li><a href="{{ commit.get_url }}" target="_blank">{{ commit }}</a> &emsp; on {{ commit.created|date:"SHORT_DATETIME_FORMAT" }}</li>
                {% else %}
                    <li>{{ commit }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endwith %}    

{% if issue.status = 'CP' %}
<div class="">
    <p class ="clear issue_description">
     Reviewed by: 
     <span class="emphasis">{{ issue.approved_by.get_full_name }}</span>
     On: 
     <span class="emphasis">{{ issue.close_date }}</span>
    </p> 
</div>
{% endif %}

</div>
