 <form id="new-issue" action="new" method="post">
    <div class = "new_issue_container">
        {% csrf_token %}
        <div class = "left new_issue_left">
            <p>{{ issue_form.title.label_tag }}:{{ issue_form.title }}</p>        
            <p>{{ issue_form.description.label_tag }}:{{ issue_form.description }}</p>
            <p> <div class = "tag_form">
                    {{ issue_form.tags.label_tag }}
                    <div id="tag-list-" class="tag_parent"></div>
                </div>
                <input class = "tag_field" data-pk="{{ issue.pk }}" type="text"/>
            </p>

        </div>

        <div class = "right new_issue_right">
            <p>{{ issue_form.assigned_to.label_tag }}:{{ issue_form.assigned_to }}</p>
            <p>{{ issue_form.milestone.label_tag }}:<input type="text" name="milestone" id="id_milestone" class="milestone-datepicker" data-project-pk="{{ project.pk }}"/></p> 
            <p>{{ issue_form.days_estimate.label_tag }}:{{ issue_form.days_estimate }}</p>      
        </div>
        <div class = "clear" >
            <input type="submit" value="Save"/>
            <input id="new-issue-cancel-button" type="Button" value="Cancel"/>
        </div>
    </div>
</form>

