{% load gravatar %}
{% load has_new_notes %}

{% if issue.milestone %}
  <a class="milestone" href="{{ issue.milestone.get_chart_url }}">{{ issue.milestone }}</a>
{% endif %}
<span class="assigned-to">
  {% if issue.assigned_to %}
    <div style="position: relative; left:0; top:0">
      {% if issue.assigned_to.get_full_name %}
        <a href="{% url user_profile_view user_id=issue.assigned_to.pk %}">{{ issue.assigned_to.get_full_name }}</a>
      {% else %}
        <a href="{% url user_profile_view user_id=issue.assigned_to.pk %}">{{ issue.assigned_to }}</a>
      {% endif %}
      {% if issue.status == 'IP' %}
        <img src="{{ STATIC_URL }}img/clock.gif" width=32 height=32 style="background: url({{ issue.assigned_to.email|gravatar }})"/> 
      {% else %}
        <img src= "{{ issue.assigned_to.email|gravatar }}" width=32 height=32 />
      {% endif %}
    </div>
  {% else %}
    &nbsp;
  {% endif %}
</span>
<img class="handle" src="{{ STATIC_URL }}img/handle.png" />

<span class="issue-id" >{{ issue.pk }}</span>
{% if issue|has_new_notes:user %}
    <label id="new-notes-{{ issue.pk }}" class="new-note">New Note! </label>
{% endif %}

<span class="issue-title" title="{{ issue.description }}" rel="#issue-details-{{ issue.pk }}">{{ issue }}</span>

{% include 'issues/includes/tag_display.html' %}
