html {
    color: #DDD;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 75%;
}

body {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    /* The wonderful background texture can be obtained from: http://subtlepatterns.com/navy/ */
    background-image: url( '../img/background.png' );
}

section, header{
    background-color:rgb(32,32,32);
    border-radius: 5px;
}

h4 a, h3{
    color:#DDD;
}

a{
    text-decoration:none;
    border-width:0;
    color: #999;
}

a:hover{
    text-decoration:underline;
}

h1,h2,h3{
    font-family:"century gothic", arial, sans-serif;
}

h3{
    font-size:18pt;
    margin:0;
    padding:5px;
    font-weight:200;
}

header{
    text-align: center;
    border-radius: 5px;
    margin-bottom:10px;
    padding:10px;
}

header h1{
    margin-top: 8px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header a{
    text-decoration:none;
}

input, textarea, select, button{
    background-color: #292929;
    color: #999;
    border-color: #383838;
}

#container{
    margin-top: 10px;
    padding: 10px;
    background-color:rgba(37,37,37,0.5);
    min-width: 800px;
}

.gravatar_small
{
    width: 16px;
    height: 16px;
    padding: 1px;
}

.gravatar_medium
{
    width: 32px;
    height: 32px;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.hidden { display: none; }
.small{ font-size:10pt; }

