html {
    color: #DDD;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 75%;
}

body {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    /* The wonderful background texture can be obtained from: http://subtlepatterns.com/navy/ */
    background-image: url( '../img/background.png' );
}

section, header{
    background-color:rgb(32,32,32);
    border-radius: 5px;
}

h4 a, h3{
    color:#DDD;
}

a{
    text-decoration:none;
    border-width:0;
    color: #999;
}

a:hover{
    text-decoration:underline;
}

h1,h2,h3{
    font-family:"century gothic", arial, sans-serif;
}

h3{
    font-size:18pt;
    margin:0;
    padding:5px;
    font-weight:200;
}

h2
{
    padding-left: 20px;
}

header{
    text-align: center;
    border-radius: 5px;
    margin-bottom:10px;
    padding:10px;
}

header h1{
    margin-top: 8px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header a{
    text-decoration:none;
}

input, textarea, select, button{
    background-color: #292929;
    color: #999;
    border-color: #383838;
}

#container{
    margin-top: 10px;
    padding: 10px;
    background-color:rgba(37,37,37,0.5);
    min-width: 800px;
}

.content-border
{
    border: 1px solid #444;
    border-radius: 0px 5px 5px 5px;
    padding: 10px;
}

.node
{
    margin-right: 5px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
}

.gravatar_small
{
    width: 16px;
    height: 16px;
    padding: 1px;
}

.gravatar_medium
{
    width: 32px;
    height: 32px;
}

.issue-title, .issue-nr-title {
    cursor: pointer;
}

.issue_status
{
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    border-radius: 4px;
    border: 1px solid #3A3A3A;
    max-width: 200px;
    padding-left: 6px;
    padding-right: 6px;
}

.issue_creator
{
    width: 25%;
    min-width: 200px;
}

.issue .issue-id {
    font-weight: bold;
    display: inline-block;
    width: 2em;
    text-align:right;
    margin-right: 0.2em;
}

.issue_approved_by
{
    width: 100%
}

.details_drop
{
  padding-left: 3em;
  white-space: nowrap;
}

.issue_description
{
    border-radius: 4px;
    padding: 4px 4px 4px 4px;
    margin: 2px 2px 2px 2px;
    border: 1px solid #3A3A3A;
    white-space:normal;
}


.field-header{
    text-decoration: underline;
    font-weight: bold;
}

.note:nth-last-of-type(2n)
{
    background-color: #242424;
}

.tag
{
  padding: 2px 2px 2px 2px;
  margin: 1px 1px 1px 1px;
  border-width:1px;
  border-style:solid;
  border-color:#3A3A3A;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;

  color: black;
  cursor: pointer;
}

.tag_list
{
  padding-left: 3em;
  overflow: hidden;
}

iframe {
    border: 0px;
}

.nojump { white-space: nowrap; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.hidden { display: none; }
.small{ font-size:10pt; }

