html {
    color: #333;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 75%;
}

body {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5E9FE6;
}

#header{
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #646485;
}

#header h1{
    margin-top: 8px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#container{
    background: white;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #646485;
    padding: 5px;
}

.data_segment
{
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #646485;
}

.alone_right
{
    margin-left: 5px;
}

.gravatar_small
{
    width: 16px;
    height: 16px;
}

.gravatar_medium
{
    width: 32px;
    height: 32px;
}
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.hidden { display: none; }
