#users{
    width: 27%;
    margin-left: 1%;
    padding: 1%;
    border-radius: 5px;
}

#projects{
    width: 67%;
    margin-right: 1%;
    padding: 1%;
    border-radius: 5px;
}

.project{
    padding-bottom: 5px;
}

.header-in-tabs{
    display:inline;
}

.header-in-tabs a{
    text-decoration: none;
}

.header-in-tabs a:hover{
    text-decoration: underline;
}

.developer-in-tabs{
}

.developer-in-tabs a{
    text-decoration: none;
}

.developer-in-tabs a:hover{
    text-decoration: underline;
}

.issue a{
    text-decoration: none;
}

.issue a:hover{
    text-decoration: underline;
}

.tabs{
    padding: 0px;
    border-radius: 3px;
    border:none;
    width:100%;
}

.tab{
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 1px;
}

.tab-content{
    padding: 2px !important;
}

}

.statistic
{
   font-weight:bold;
}

.small_text_wrap
{
    max-width: 200px;
}

#new_project
{
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    border-radius: 4px;
    background-color: #E7EEF1;
    border: 1px solid #BBBBBB;
}

#form_error{
    color: red;