#project-detail{
    padding: 1%;
}

.edit_drop
{
    width:80%; 
    margin:0 auto; 
}



.issue .type { }

.button {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    font-family: Verdana;
    font-size: 9px;
    text-align:center;
    display: inline-block;
}

.issue-list{
    padding-right: 20px;
    padding-left: 20px;
}

ul.issue-list {
    list-style-type: none;
    clear:both;
}


.type-list {
    float: right;
}

#new-issue {
    display: none;
}

/* the overlayed element */
.simple_overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    /* background-color:#333; */
    background-color:white;

    width:400px;
    min-height:300px;
    border:1px solid #666;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 9px 5px #aaa;
    -webkit-box-shadow: 0 0 9px #aaa;
}


/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url("../../site_media/img/close.png");
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.simple_overlay p.help {
    color: #ccc;
    text-align: right;
    font-style: italic;
    padding-top: 1em;
}

.new_issue_container
{
    width:80%; 
    margin:0 auto; 
    display: block;
}

.issue .project-name
{
    display: none;
}

.needs-review
{
    background-color: #292929;
}

.needs-review-issues
{
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.needs-review-issues .issue-list
{
    padding: 10px;
    margin: 0px;
}

