#project-detail{
    padding: 1%;
}

.handle {
    vertical-align: middle;
    cursor: url("../../site_media/img/slide.cur"), move;
}

.issue .issue-id {
    font-weight: bold;
    display: inline-block;
    width: 2em;
    text-align:right;
    margin-right: 0.2em;
}

.issue .type { }

.button {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    font-family: Verdana;
    font-size: 9px;
    text-align:center;
    display: inline-block;
}

.issue-list{
    padding-right: 20px;
    padding-left: 20px;
}

ul.issue-list {
    list-style-type: none;
    clear:both;
}

.issue:first-child {
    border-top: solid 1px #3A3A3A;
}

.issue {
    display: block;
    border-bottom: solid 1px #3A3A3A;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: auto; /*32*/
    overflow: auto;
    color: #999;
}

.issue a{
    color: #999;
}

.issue .close-button {
    color: white;
    text-decoration: none;
    float: right;
    background-color: #333;
    border: none;
}

.assigned-to {
    float: right;
    padding-right: 10px;
}
.assigned-to {
    float: right;
    padding-right: 10px;
}
.milestone {
    float: right;
    padding-right: 1em;
}
.type-list {
    float: right;
}

#new-issue {
    display: none;
}

/* the overlayed element */
.simple_overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    /* background-color:#333; */
    background-color:white;

    width:400px;
    min-height:300px;
    border:1px solid #666;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 9px 5px #aaa;
    -webkit-box-shadow: 0 0 9px #aaa;
}


/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url("../../site_media/img/close.png");
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.simple_overlay p.help {
    color: #ccc;
    text-align: right;
    font-style: italic;
    padding-top: 1em;
}

.new_issue_container
{
    width:80%; 
    margin:0 auto; 
    display: block;
}

.new_issue_left
{ width: 65%; }

.new_issue_right
{ width: 25%; }

.issue-button
{
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    text-align:center;
    cursor:pointer;
}

.in-progress .issue_work_on{
    display:none;
}

.assigned .issue_complete{
    display:none;
}

.unassigned .issue_complete{
    display:none;
}

.unassigned .issue_work_on{
    display:none;
}

.edit_drop
{
    width:80%; 
    margin:0 auto; 
}


#new-issue div div p select, 
#issue_input form div p input, 
#issue_input select, 
#new-issue div div p input
{
    width:100%;
    border-width:1px;
}


#issue_input textarea, 
#new-issue div div p textarea
{
    width:100%;
    border-width:1px;
    padding: 0px;
}


.tag_mod
{
  margin: 1px 1px 1px 1px;
  width: 14px;
  height: 14px;
  border-width:0px;
  display: inline-block;
}

.tag_line
{
  margin: 1px 1px 1px 1px;
  display: block;
}


.tag_editor
{
   border:1px solid #383838;
   padding: 4px;
}

.new_tag
{
   padding: 1px 4px 1px 4px;
   margin-bottom: 1px;
   display: inline-block;
   height: 100%;
   text-align:center;
   cursor:pointer;
}

.color_spot
{
    width: 14px;
    height: 14px;
    cursor:pointer;
    display: inline-block;
    border:1px solid #AAAAAA;
}

.color_spot:hover
{
    width: 14px;
    height: 14px;
    cursor:pointer;
    display: inline-block;
   border:1px solid #000000;
}

#color_selector
{
    position:absolute;
    left:0px;
    top:0px;
    width: 145px;
    //height: 150px;
    z-index:42;
    float: left;
    border:1px solid #666;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    background-color: #AAAAAA;
}

#color_input
{
    display: inline; 
    width: 60px;
}

.emphasis{
    font-weight: bold;
    font-size: 1.1em;
}

.new_tag_input
{
    border-width:1px;
    width: 75%;
    margin-right: 5px;
}

.errors input{
    background-color: red;
}

.needs-review
{
    background-color: #292929;
}

.needs-review-issues
{
    padding-bottom: 10px;
}

.ui-state-active{
    border: 1px solid #A51616 !important;
}
