#users_profile, #users_stats
{
    padding: 1%;
    border-radius: 5px;
}

#users_profile
{
    width: 75%;
    min-width: 500px;
}

#users_stats
{
    margin-left: 1%;
    width: 20%;
    min-width: 100px;
}

.statistic { font-weight:bold; }
.small_text_wrap { max-width: 200px; }

